{% extends 'base.html.twig' %}
{% block body %}
	<div class="profile-container">
		<h1 class="profile-title">
			Bienvenue sur votre profil
			{{ app.user.firstName }}
		</h1>

		<div id="downloadMessage" style="display:none;">
			Votre téléchargement est en cours...
		</div>


		<p class="photo-count">
			Vous possédez
			{{ photos|length }}
			photo{{ photos|length > 1 ? 's' : '' }}
		</p>

		<form id="downloadForm" action="{{ path('profile_photos_download') }}" method="post">
			<div class="photos-grid">
				{% for photo in photos %}
					<div class="photo-card">
						<h2 class="photo-name">{{ photo.name }}</h2>
						<p class="photo-date">
							Mise en ligne le
							{{ photo.createdAt|date('d/m/Y') }}
						</p>

						<img
						class="photo-img" src="{{ asset('uploads/photos/' ~ photo.imagePath) }}" alt="{{ photo.name }}">

						{# Lien pour télécharger une seule image #}
						<a type="submit" href="{{ asset('uploads/photos/' ~ photo.imagePath) }}" download="{{ photo.name }}">
							Télécharger
						</a>
					</div>
				{% else %}
					<p>Aucune photo disponible.</p>
				{% endfor %}
			</div>

		</form>
	</div>
{% endblock %}
