{% extends 'base.html.twig' %}


{% block body %}
	<div class="profile-container">

		<a href="{{ path('app_admin') }}" class="back-button">← Retour à la page admin</a>

		<h1>Galerie Photos</h1>

		<div class="photos-grid">
			{% for photo in photos %}
				<div class="photo-card">
					<h3 class="photo-name">{{ photo.getName() }}</h3>
					<p class="photo-date">Mise en ligne le
						{{ photo.createdAt|date('d/m/Y') }}</p>
					<img class="photo-img" src="{{ asset('uploads/photos/' ~ photo.getImagePath()) }}" alt="{{ photo.getName() }}">
				</div>
			{% else %}
				<p>Aucune photo disponible.</p>
			{% endfor %}
		</div>

	{% endblock %}
